.feed_actions{
  width: 45%;
  display: inline-flex;
  margin: -35px 35px;
}

.feed_actions a{
  padding: 6px 44px;
  margin-top: 31px;
  margin-left: auto;
  border: none;
  white-space: nowrap;
  align-content: space-evenly;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.feed_actions a:hover{
  border-radius: 5px;
  background-color: #cccccc;
}

@media only screen and (min-width: 600px){
  .feed_actions{
    width: 50%;
    min-height: 20%;
  }
}

@media only screen and (max-width: 600px){
  .feed_actions{
    width: 50%;
    min-height: 20%;
  }
}

@media only screen and (min-width: 768px){
  .feed_actions{
    width: 80%;
    min-height: 20%;
  }
}

@media only screen and (max-width: 992px){
  .feed_actions{
    width: 81%;
    min-height: 20%;
  }
}

@media only screen and (min-width: 1200px){
  .feed_actions{
    width: 84%;
    min-height: 20%;
  }
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 0px;
  padding: 0;
}

.more-horiz{
  float: right;
  position: relative;
  top: -1px;
  right: 8px;
  cursor: pointer;
}

.feed_userpic img{
  float: left; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px;
}
