#profile-page-menu-top{
  line-height: 22px;
}

#profile_pic{
  width: 150px;
  margin-top: -200px;
  border-radius: 50%;
  border: solid 5px white;
}

#profile-menu-username{
  font-size: 30px;
  font-weight: normal;
}

#profile-menu-username a{
  color: black;
  text-decoration: none;
}

#profile-menu-bio{
  font-size: 15px;
  color: #8c8c8c;
}

#sponsored-img{
  width: 115px;
  float: left;
  margin: 8px;
}

#sponsored-bar{
  background-color: white;
  min-height: 440px;
  margin-top: 20px;
  color: #8c8c8c;
  padding: 8px;
  border-radius: 8px;
}

#post-area-menu{
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  padding: 0px;
  margin-top: 15px;
  border-radius: 8px;
  min-height: 20%;
  margin: auto;
}

#sponsored{
  clear: both;
  font-size: 15px;
  font-weight: normal;
  color: #405d9b;
}

#sponsored a{
  text-decoration: none;
}

#sponsored a:hover{
  text-decoration: underline;
}
textarea{
  width: 100%;
  border: none;
  font-size: 14px;
  height: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #660066;
  border-color: #007bff;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  float: right;
  border: none;
  color: white;
  font-size: 14px;
}

.btn-primary:hover {
  color: #fff;
  background-color:#ff80ff;
  border-color: #0062cc;
}

#title-bar{
  width: 100%;
  border: none;
  font-family: tahoma;
  font-size: 14px;
  height: 60px;
}

#actual-btn{
  cursor: pointer;
}

label {
  background-color:#8a426d;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  padding: 0.9rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
}

label:hover {
  color: #fff;
  background-color:#ff80ff;
  border-color: #0062cc;
}

.more-horiz{
  float: right;
  position: relative;
  top: -1px;
  right: 8px;
  cursor: pointer;
}

.more-horiz:hover{
  background-color: #d9d9d9;
  border-radius: 50px;
  width: 40px;
}

.feed_userpic img{
  float: left; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px;
}

.feed_title{
  text-align: left;
  font-size: 18px;
  font-weight: bold !important;
}

.feed_image{
  width:100%;
}

.feed_image img{
  width:100%;
  height:100%;
}

.feed_content{
  font-size: 18px;
  font-weight: lighter;
}

.feed_post_time{
  font-size: 14px;
  font-weight: lighter;
  text-indent: 4px;
  position: relative;
  top: -10px;
}

.feed_post_time a{
  text-decoration: none;
}

.feed_post_time a:hover{
  text-decoration: underline;
}

.feed_post_author{
  font-size: 18px;
  font-weight: normal;
  text-indent: 4px;
}

.feed_post_author a{
  text-decoration: none;
  color: black;
}

.feed_post_author a:hover{
  text-decoration: underline;
}

.feed_actions{
  width: 45%;
  display: inline-flex;
  margin: -35px 35px;
}

.feed_actions a{
  padding: 5px 55px;
  margin-top: 12px;
  margin-left: auto;
  border: none;
  white-space: nowrap;
  align-content: space-evenly;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.feed_actions a:hover{
  border-radius: 5px;
  background-color: #cccccc;
}

@media only screen and (min-width: 600px){
  .feed_actions{
    width: 50%;
    min-height: 20%;
  }
}

@media only screen and (max-width: 600px){
  .feed_actions{
    width: 50%;
    min-height: 20%;
  }
}

@media only screen and (min-width: 768px){
  .feed_actions{
    width: 85%;
    min-height: 20%;
  }
}

@media only screen and (max-width: 992px){
  .feed_actions{
    width: 85%;
    min-height: 20%;
  }
}

@media only screen and (min-width: 1200px){
  .feed_actions{
    width: 84%;
    min-height: 20%;
  }
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 0px;
  padding: 0;
}

.icon{
  position: relative;
  top: 5px;
  cursor: pointer;
}

.feed_post{
  background-color: white;
  border-radius: 8px;
  padding: 13px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  margin: 0;
}

.topnav a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 1px 74.9px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3.6px solid #262626;
}

#text-area{
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  width: 600px;
  height: 280px;
  margin: auto;
}

#about{
  background-color: white;
  border-radius: 8px;
  padding: 13px;
  margin-top: -10.6% !important;
}

.sponsored-bar-footer{
  font-size: 10px;
  color: white;
}
.sponsored-bar-footer a{
  text-decoration: none;
}

.sponsored-bar-footer a:hover{
  text-decoration: underline;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 0px;
  padding: 0;
}
</style>