textarea{
  width: 100%;
  border: none;
  font-family: tahoma;
  font-size: 14px;
  resize: none;
}

.btn-primary {
  width:100px;
  height:35px;
  background-color: #6148bf;
  color:#fff;
  font-size:1.2em;
  cursor:pointer;
  float:right;
  display: inline-block;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border-radius:  10px 10px 10px;
}

.btn-primary:hover {
  color: inset 400px 0 0 0 #3c1053;
  box-shadow: inset 400px 0 0 0 #3c1053;
}

#title-bar{
  width: 100%;
  border: none;
  font-family: tahoma;
  font-size: 14px;
  height: 60px;
}

#actual-btn{
  cursor: pointer;
  float
}

.friends-button{
  cursor: pointer;
  position: relative;
  left: 3px;
  text-indent: 6px;
  background-color: #cccccc;
  width: 135px;
  height: 35px;
  float: left;
  font-size: 16px;
  border-radius: 5px;
}

.friends-button:hover{
  color: #fff;
  background-color:#990099;
}

.icon{
  position: relative;
  top: 7px;
}

label {
  background-color: #cccccc;
  color: #000000;
  font-family: sans-serif;
  padding: 0.9rem;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
}

label:hover {
  color: #fff;
  background-color:#990099;
}

#text-area {
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

@media only screen and (min-width: 600px){
  #text-area{
    width: 50%;
  }
}

@media only screen and (max-width: 600px){
  #text-area{
    width: 50%;
  }
}

@media only screen and (min-width: 768px){
  #text-area{
    width: 80%;
  }
}

@media only screen and (max-width: 992px){
  #text-area{
    width: 115%;
    padding: 20px;
    margin: -43px;
  }
}

@media only screen and (min-width: 1200px){
  #text-area{
    width: 40%;
  }
}

.create-post{
  min-height: 400px; 
  flex:-5;
  padding: 90px;
}

.centered{
  text-align: center;
}

.left{
  float: right;
  position: relative;
  top: -1px;
  right: 8px;
  color: #000000;
}

.feed_userpic img{
  float: left; 
  width: 50px; 
  height: 50px; 
  border-radius: 50px;
}

.feed_post_author{
  font-size: 18px;
  font-weight: normal;
  text-indent: 4px;
}

.feed_post_author a{
  text-decoration: none;
  color: black;
}

.feed_post_author a:hover{
  text-decoration: underline;
}

#post_uploadImagePreview img{
  width: 100%;
  height: 100%;
}