textarea{
	outline: none;
	resize: none;
	overflow: auto;
	border-radius: 8px;
}

.btn-primary {
	background-color: #660066;
	border-color: #007bff;
	border-radius: 20px;
	width: 120px;
	height: 40px;
	float: right;
	border: none;
	color: white;
	font-size: 14px;
	margin-right: 2%;
}

.btn-primary:hover {
  color: #fff;
  background-color:#ff80ff;
  border-color: #0062cc;
}

.cw_profilePic img{
  width: 50px;
  border-radius: 50%;
  border: solid 3px white;	
}

.comment-section{
	border-color: #e6e6e6;
	background-color: #e6e6e6;
	border-radius: 8px;
	width: 500px;
}