# Ignore these
src/views/images/post_img/*
src/views/images/users/*
src/views/images/users_cover/*

# But not the defaults
!src/views/images/users/_default.jpg
!src/views/images/users_cover/_default.png
!src/views/images/post_img/temp.txt
